body{
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1{
    text-align: center;
    color: #333;
}
p{
    text-align: center;
}
form{
   max-width: 400px;
   margin: 0 auto;
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 2px 2px 5px 5px lightgray;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
input[type="button"]{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
#result{
    font-weight: bold;
    margin-top: 10px;
}
